cameron/cameron
mkinstalldirs
*.lo
*.o
*.c
*.h
*.stamp
*.m4
Makefile
Makefile.in
*.la
*.swp
.deps
.libs
*.pc
configure
config.guess
config.h.in
config.log
config.status
config.sub
autom4te.cache
install-sh
missing
depcomp
libtool
ltmain.sh
stamp-h1
intltool-extract.in
intltool-merge.in
intltool-update.in
gnome-doc-utils.make
gtk-doc.make
